// Colors
$color-primary-red: #f65351;
$color-primary-blue: #0a317b;
$color-white: #ffffff;
$color-grayish-blue-very-light: #f7fafd;
$color-grayish-blue-lighter: #e5effa;
$color-grayish-blue-light: #dde7ee;
$color-grayish-blue: #939dae;
$color-grayish-blue-dark: #5e6778;
$color-grayish-blue-very-dark: #1c202b;

// Media
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 480px) {
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f9fafd;
}

.container {
  max-width: 73rem;
  background-color: $color-white;
  margin: 6.3rem auto 8.9rem;
  padding: 3.3rem 3rem 0;
  border-radius: 1.5rem;
  box-shadow: 0 2rem 6rem rgba(73, 97, 168, 0.05);

  @include respond(phone) {
    padding: 3rem 1.6rem;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}
